{% load staticfiles %}

<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, height=device-height">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="robots" content="noindex"/>
    <meta name="googlebot" content="noindex"/>
    <title>{% block title %}Sing In{% endblock %}</title>
    <script type="text/javascript" src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets/student/js/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/student/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/student/css/reset.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        var PROJECT_ID = '{{ PROJECT_ID }}'
    </script>

</head>

<body>
{#<script>#}
{#    var studentId = {{ request.user.id }};#}
{#</script>#}
    {% block content %}{% endblock %}
</body>

</html>